### Get dataset from source:

In [28]:
import pandas as pd
data_url_counties = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
data_url_states = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv"
us_counties = pd.read_csv(data_url_counties, error_bad_lines=False)
display(us_counties.head())
display(us_counties.info())

us_states = pd.read_csv(data_url_states, error_bad_lines=False)
display(us_states.head())
display(us_states.info())

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26199 entries, 0 to 26198
Data columns (total 6 columns):
date      26199 non-null object
county    26199 non-null object
state     26199 non-null object
fips      25803 non-null float64
cases     26199 non-null int64
deaths    26199 non-null int64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.2+ MB

None

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1664 entries, 0 to 1663
Data columns (total 5 columns):
date      1664 non-null object
state     1664 non-null object
fips      1664 non-null int64
cases     1664 non-null int64
deaths    1664 non-null int64
dtypes: int64(3), object(2)
memory usage: 65.1+ KB

None

### Get basic information of cases in each state on current day

In [45]:
from datetime import datetime, timedelta

#get the date range of the data
total_dates = us_states["date"].unique()
date_range = [total_dates[1],total_dates[len(total_dates)-1]]
print("Date range of data: " + date_range[0] + " to " +date_range[1])

#extract the latest data
latest_date = date_range[1]
latest_cases = us_states[us_states["date"]==latest_date]
display(latest_cases)

#get the latest total cases
total_cases = latest_cases["cases"].sum()
print("Total cases on " + latest_date + ": "+  str(total_cases))

Date range of data: 2020-01-22 to 2020-04-01

            date                     state  fips  cases  deaths
1609  2020-04-01                   Alabama     1   1106      28
1610  2020-04-01                    Alaska     2    143       2
1611  2020-04-01                   Arizona     4   1413      29
1612  2020-04-01                  Arkansas     5    624      10
1613  2020-04-01                California     6   9816     212
1614  2020-04-01                  Colorado     8   3346      80
1615  2020-04-01               Connecticut     9   3557      85
1616  2020-04-01                  Delaware    10    368      11
1617  2020-04-01      District of Columbia    11    586      11
1618  2020-04-01                   Florida    12   7765     100
1619  2020-04-01                   Georgia    13   4748     154
1620  2020-04-01                      Guam    66    147       3
1621  2020-04-01                    Hawaii    15    258       1
1622  2020-04-01                     Idaho    16    669       9
1623  2020-04-01                  Illinois    17   6980     146
1624  2020-04-01                   Indiana    18   2565      65
1625  2020-04-01                      Iowa    19    549       9
1626  2020-04-01                    Kansas    20    488      11
1627  2020-04-01                  Kentucky    21    682      20
1628  2020-04-01                 Louisiana    22   6424     273
1629  2020-04-01                     Maine    23    344       7
1630  2020-04-01                  Maryland    24   1985      33
1631  2020-04-01             Massachusetts    25   7738     122
1632  2020-04-01                  Michigan    26   9293     336
1633  2020-04-01                 Minnesota    27    689      17
1634  2020-04-01               Mississippi    28   1073      22
1635  2020-04-01                  Missouri    29   1581      18
1636  2020-04-01                   Montana    30    217       5
1637  2020-04-01                  Nebraska    31    249       5
1638  2020-04-01                    Nevada    32   1279      32
1639  2020-04-01             New Hampshire    33    415       4
1640  2020-04-01                New Jersey    34  22255     355
1641  2020-04-01                New Mexico    35    363       6
1642  2020-04-01                  New York    36  83889    1941
1643  2020-04-01            North Carolina    37   1582      11
1644  2020-04-01              North Dakota    38    147       3
1645  2020-04-01  Northern Mariana Islands    69      6       1
1646  2020-04-01                      Ohio    39   2547      65
1647  2020-04-01                  Oklahoma    40    719      30
1648  2020-04-01                    Oregon    41    736      19
1649  2020-04-01              Pennsylvania    42   5805      74
1650  2020-04-01               Puerto Rico    72    286      11
1651  2020-04-01              Rhode Island    44    566      10
1652  2020-04-01            South Carolina    45   1293      26
1653  2020-04-01              South Dakota    46    129       2
1654  2020-04-01                 Tennessee    47   2440      23
1655  2020-04-01                     Texas    48   4261      63
1656  2020-04-01                      Utah    49   1012       7
1657  2020-04-01                   Vermont    50    321      16
1658  2020-04-01            Virgin Islands    78     30       0
1659  2020-04-01                  Virginia    51   1511      34
1660  2020-04-01                Washington    53   5588     249
1661  2020-04-01             West Virginia    54    191       2
1662  2020-04-01                 Wisconsin    55   1550      33
1663  2020-04-01                   Wyoming    56    137       0

Total cases on 2020-04-01: 214461

### Show the growth curve in cases for a specified state